[submodule "evmc"]
	path = evmc
	url = https://github.com/jwasinger/evmc
[submodule "evmone"]
	path = evmone
	url = https://github.com/jwasinger/evmone
[submodule "solidity"]
	path = solidity
	url = https://github.com/jwasinger/solidity
